<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{HH:mm:ss dd/MM/yyyy}] %highlight(%-5level) %cyan(%logger): %msg%n
            </pattern>
        </encoder>
    </appender>
    <logger name="org.vibecoders.moongazer" level="trace"/>
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

